<form method="post" action="Randomized">

  <label for="names">Names</label><br>
  <textarea autofocus="true" cols="100" rows="2"
  placeholder="please enter a list of people separated by commas only  e.g. mike,steve,frank"
   id="names" name="names"><%= params[:names] %></textarea><br>
  <label for="number">Number of teams</label><br>
  <input type="number" name="number" value="<%= @num_teams %>"><br>
  <input type="submit" value="Randomize">
</form>

<% if @error %>
<div id="error">
<%= "ERROR: Must enter no more teams than possible team members or more than 0 teams."  %> <br><br>
<div>
<% end %>
<br><br>
<%# can make viewing of teams conditional on no error being present. %>
<%# if @error == nil %>
   <% if session[1] != nil && session['names'].length >= session['num'] %>
   <%    1.upto(session['num']) do |i| %>
   <div> Team <%= i %>:
    <%=   session[i]   %></div><br>
    <%    end %>
    <% end %>
<%# end %>
